{% load static %}

<div class="tags">
    <h2>Categories</h2>
    <div class="separator-tags"></div>
        <ul>
            <li><a href="{% url 'processors' %}">Processors</a></li>
            <li><a href="{% url 'graphics' %}">Graphics Cards</a></li>
            <li><a href="{% url 'ram' %}">RAM Memory</a></li>
            <li><a href="{% url 'motherboards' %}">MotherBoards</a></li>
            <li><a href="{% url 'storage' %}">Storage</a></li>
            <li><a href="{% url 'power' %}">Power Supply</a></li>
            <li><a href="{% url 'case' %}">Cases</a></li>
            <li><a href="{% url 'headphones' %}">HeadPhones</a></li>
            <li><a href="{% url 'keyboards' %}">KeyBoards</a></li>
            <li><a href="{% url 'refrigeration' %}">Refrigeration</a></li>
            <li><a href="{% url 'monitor' %}">Monitors</a></li>
            <li><a href="{% url 'chair' %}">Gaming Chairs</a></li>
            <li><a href="{% url 'accessory' %}">Accessories</a></li>
        </ul>
    </div>

    <div class="container-filter">
        <div class="btn-toggle" onclick="toggleItems()">Sorted By</div>
        <a href="?order=higher-price" class="order-by higher-price {% if order == 'higher-price' %}active{% endif %}">High to Low</a>
        <a href="?order=lower-price"class="order-by lower-price {% if order == 'lower-price' %}active{% endif %}">Low to High</a>      
    </div>

    <div class="container-components-accessories">
        {% for product in products %}
            <div class="component-card">
                <a href="{% url 'product' product.id %}">
                    <img src="{{ product.primary_img.url }}" alt="{{product.name}}">
                    <h2>{{product.name}}</h2>
                    <span id="product-price-ly">{{product.get_format_price}}</span>
                </a>
                <span id="span-stock-ly"> &#x2713; Stock</span>
                <a class="add-cart" href="#">Add to cart</a>
            </div>
        {% endfor %}

        
    </div>

    <div class="container-prev-next">
            {% if  products.has_previous %}
                <a href="?page={{ products.previous_page_number }}" class="btn-prev">Previous</a>
            {% endif %}
            {% if  products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="btn-next">Next</a>
            {% endif %}    
    </div>