{% extends 'index.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="slogan-div">
        <img class="slogan-img" src="{% static 'media/letras.png' %}">
    </div>
    <div class="container-cards">
        <div class="product-card">
            <a href="{% url 'components' %}"><img class="products-img" src="{% static 'media/compnts.png' %}"></a>            
        </div>
        <span class="components-span">Components</span>
        <div class="product-card">
            <a href="{% url 'prebuilds' %}"><img class="prebuild-img" src="{% static 'media/prebuild.png' %}"></a>
        </div>
        <span class="prebuild-span">Prebuilds</span>
        <div class="product-card">
            <a href="{% url 'laptops' %}"><img class="laptops-img" src="{% static 'media/alp.png' %}"></a>
        </div>
        <span class="laptop-span">Laptops</span>
    </div>


    <!--Button for the all processors view-->

    <div class="show-all-processors">
        <a href="{% url 'processors' %}">View All Processors</a>
    </div>

    <!--Text to the best selling processors section-->

    <div class="text-processors">
            <h2>BEST SELLING PROCESSORS</h2>
        </div>

    <!--Section to the processors carousel-->

    <div class="show_products processors">
        <div class="arrow-next"><span>&#x2192;</span></div>
        <div class="arrow-prev"><span>&#x2190;</span></div>

            <div class="product-carousel processors">
                <div class="cards-container processors">
                    {% for product in processors|slice:":10" %}
                    <div class="card_product processors">
                        <a href="{% url 'product' product.product_id %}">
                            <img src="{{ product.product_img.url }}">
                            <h2>{{ product.product_name }}</h2>
                            <span>{{ product.get_format_price }}</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    

    <!--This div separates the carousels -->

    <div class="line-separator"></div>

    <!--This button is for the all graphics card view-->

    <div class="show-all-cards">
        <a href="{% url 'graphics' %}">View All Graphics Cards</a>
    </div>

    <!--Text to the best selling cards section-->

    <div class="text-cards">
        <h2>BEST SELLING GRAPHICS CARDS</h2>
    </div>

    <!--Carousel for the best selling cards graphics-->

    <div class="show_products graphics">
    <div class="arrow-next"><span>&#x2192;</span></div>
    <div class="arrow-prev"><span>&#x2190;</span></div>

        <div class="product-carousel graphics">
            <div class="cards-container graphics">
                {% for product in cards|slice:":10" %}
                    <div class="card_product graphics">
                        <a href="{% url 'product' product.product_id %}">
                            <img src="{{product.product_img.url}}">
                            <h2>{{product.product_name}}</h2> 
                            <span>{{product.get_format_price}}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!--Div for separate the carousels-->

    <div class="line-separator"></div>


    <!--Button for all laptops view-->

    <div class="show-all-laptops">
        <a href="#">View All Laptops</a>
    </div>

    <!--Text for best selling laptops section-->

    <div class="text-laptops">
        <h2>BEST SELLING LAPTOPS</h2>
    </div>

    <div class="show_products laptops">
        <div class="arrow-next"><span>&#x2192;</span></div>
        <div class="arrow-prev"><span>&#x2190;</span></div>
        <div class="product-carousel laptops">
            <div class="cards-container laptops">
                {% for product in laptops|slice:":10" %}
                    <div class="card_product laptops">
                        <a href="{% url 'product' product.product_id %}">
                            <img src="{{product.product_img.url}}">
                            <h2>{{product.product_name}}</h2>
                            <span>{{product.get_format_price}}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="line-separator"></div>   

    <div class="show-all-keyboards">
        <a href="#">View All Keyboards</a>
    </div>   

    <div class="text-keyboards">
        <h2>BEST SELLING KEYBOARDS</h2>
    </div>

    <div class="show_products keyboards">
        <div class="arrow-next"><span>&#x2192;</span></div>
        <div class="arrow-prev"><span>&#x2190;</span></div>
        <div class="product-carousel keyboards">
            <div class="cards-container keyboards">
                {% for product in keyboards|slice:":10" %}
                    <div class="card_product keyboards">
                        <a href="{% url 'product' product.product_id %}">
                            <img src="{{product.product_img.url}}">
                            <h2>{{product.product_name}}</h2>
                            <span>{{product.get_format_price}}</span>
                        </a>    
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--<div class="pre_builds">
        <img src="{% static 'media/img-expert.png' %}">
        <div class="container-h1"><h1>Stressed out by not<br>knowing what<br>components to use?</h1></div>
        <a href="#" class="button-prebuilds "></a>
    </div>-->   

    <div class="footer">
        <div class="container-creator">Created by FelipeMadeIt</div>
        <div class="line"></div>
        <div class="social-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'scripts/horizontalScroll.js' %}"></script>
{% endblock %}