{% extends 'index.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="slogan-div">
        <img class="slogan-img" src="{% static 'media/letras.png' %}">
    </div>
    <div class="container-cards">
        <div class="product-card">
            <a href="{% url 'components' %}"><img class="products-img" src="{% static 'media/compnts.png' %}"></a>            
        </div>
        <span class="components-span">Components</span>
        <div class="product-card">
            <a href="{% url 'prebuilds' %}"><img class="prebuild-img" src="{% static 'media/prebuild.png' %}"></a>
        </div>
        <span class="prebuild-span">Prebuilds</span>
        <div class="product-card">
            <a href="{% url 'laptops' %}"><img class="laptops-img" src="{% static 'media/alp.png' %}"></a>
        </div>
        <span class="laptop-span">Laptops</span>
    </div>
    <div class="offers">
        <div class="card">
            <a href=""><img class="laptop-img-offer" src="{% static 'media/laptopoffer.png' %}"></a>
            <a href=""><img class="laptop-img-text" src="{% static 'media/offlaptops.png' %}"></a>
        </div>
        <div class="card">
            <a href=""><img class="chasis-img-offer" src="{% static 'media/thermal.png' %}"></a>
            <a href=""><img class="chasis-img-text" src="{% static 'media/componentsoffers.png' %}"></a>   
        </div>
        <div class="card">
            <a href=""><img class="card-img-offer" src="{% static 'media/card.png' %}"></a>
            <a href=""><img class="card-img-text" src="{% static 'media/cardsoffer.png' %}"></a>            
        </div>
       
    <div class="container-button-offers">
        <a href="#" class="button-offers"> Explore all our offers</a>
    </div>    
    </div>

    <div class ="show_products">
        {% for product in products %}
            <a href="#">
                <div class="card_product">
                    <h2>{{product.product_name}}</h2>
                    <img src="{{product.product_img.url}}">
                    <p>{{product.get_format_price}}</p>
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="footer">
        <div class="social-links"></div>
        <div class="container-creator">Created by FelipeMadeIt</div>
        <div class="line"></div>
    </div>
{% endblock %}